html{
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    margin: 0;
    color: white;
}

/* Main */
.main{
    animation-name: text-slide;
    animation-duration: 1.4s;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 32px );
}
.main-content{    
    display: block;
    background-color: rgb(15, 171, 199);
    border-radius: 20px;
    box-shadow: 0 0 20px black;
    margin: 32px;
    width: calc(48% - 32px )
}

.main-content-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
    justify-content: space-evenly;

}

.main-text-primary{    

    display: block;
    padding: 32px 0 0;
    margin: 0;
    text-align: center;
    font-size: 50px;
}

.main-content-text {

    display: block;   
    padding: 12px;
    border-radius: 20px;
    width: calc(83% - 32px );
    line-height: 1.4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    color: black;    
}



/* Main Animation */
@keyframes text-slide {
    from {
        width: calc(100% - 32px );
      color: white;     
      flex-direction: column;
    }
  
    50% {
        color: white;   
        width: calc(100% - 32px );
        margin-left: 63%;
        scroll-behavior:smooth;
        flex-direction: column; 

    }

    100%{
        width: calc(100% - 32px );
        margin-left: 0%; 
        flex-direction: column;

    }
  }
/* End Animation */

/* Main @media */
@media screen and (max-width : 1280px){

    .main-content-text {
        width: calc(57% ); 
        font-size: 72%;
        text-align: start;
        text-indent: 10%;

    }
    .main-content{
        margin: 0;
        width: calc(100% );
        border-radius: 0;  
    }    
    .main{
        flex-direction: column;
        width: calc(100%);
    }

}

@media screen and (min-width: 1300px) {
    
    #last-panel{
  
    }
    
}

/* Main @media end */

/* End Main */